.wrapper {
	background: #eee !important;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 80px);
}

.form-signin {
	width: 400px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	border: 0.25px solid black;
}

.social-login a {
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.05);
	padding: 12px;
	border-radius: 0.375rem;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}
.social-login a i {
	position: relative;
	float: left;
	width: 20px;
	top: 2px;
}
.social-login a:first-child {
	background-color: #49639f;
}
.social-login a:last-child {
	background-color: #df4a32;
}
