@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
   margin: 0;
   box-sizing: border-box;
}

html {
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
   --default-blue: #185adb;
   --default-yellow: #ffc947;
   --default-grey: #efefef;
}

body {
   position: relative;
}

p {
   font-family: "Roboto", sans-serif;
}

.fade {
   opacity: 0.8;
   /* transition: all ease 300ms; */
}

.big-text {
   font-size: 2.6rem;
}

.medium-text {
   font-size: 2.1rem;
}

.small-txt {
   font-size: 0.9rem;
}

br {
   line-height: 2.5;
}
