@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	--default-blue: #185adb;
	--default-yellow: #ffc947;
	--default-grey: #efefef;
}

body {
	position: relative;
	overflow-x: hidden;
}

p {
	font-family: "Roboto", sans-serif;
}

.fade {
	opacity: 0.8;
}

.big-text {
	font-size: 2.6rem;
}

.medium-text {
	font-size: 2.1rem;
}

.small-txt {
	font-size: 0.9rem;
}

.tiny-txt {
	font-size: 0.75rem;
}

br {
	line-height: 2.5;
}

.container {
	padding: 0 18vw;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
