.subscribe {
  min-height: 247px;
}

.subscribe_content {
  padding: 3rem 0;
}

.subscribe_input {
  width: 510px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid grey;
  text-transform: initial;
}

.subscribe_email_center {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
