.slider {
	position: relative;
	height: calc(100vh - 80px);
}

.slide {
	position: absolute;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 750ms ease-in-out;
}

.slide_active {
	opacity: 1;
}

.prev_slide {
	opacity: 0;
}

.next_slide {
	opacity: 0;
}

.content {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.slider i {
	font-size: 3.4rem;
	color: var(--default-blue);
}

.text {
	width: 70%;
	color: black;
}

.text h1 {
	padding-bottom: 1.2rem;
}

.circles {
	position: absolute;
	width: 100%;
	bottom: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.circles i {
	font-size: 0.6rem !important;
	padding: 0 0.5rem 0 0.5rem;
	cursor: pointer;
}

.circles .lg {
	font-size: 0.85rem !important;
}

.slide_arrow {
	position: absolute;
	top: 50%;
	transition: all 300ms ease-in-out;
	margin: 0 5rem;
}

.slide_arrow:hover {
	opacity: 0.75;
}

.arrow_left {
	left: 0;
}

.arrow_right {
	right: 0;
}
