.about_slider {
	position: relative;
	height: 450px;
	color: white;
}

.about_slider h1,
.about_slider p {
	text-shadow: 0px 0px 10px #a5a5a5;
}

.about_text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: white;
	align-items: center;
}

.about_end_text {
	display: grid;
	width: 60%;
	gap: 0.5rem;
}

.hidden {
	display: none;
}
