.container {
   display: none;
}

.container.active {
   display: block;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: calc(100vh - 80px);
}

.content {
   height: 20vh;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 40vh 0 40vh 0;
}

.container i {
   font-size: 3.4rem;
   color: var(--default-blue);
}

.text {
   width: 40%;
   color: black;
}

.text h1 {
   font-size: 2.6rem;
   padding-bottom: 0.4em;
}

.circles {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.circles i {
   font-size: 0.7rem;
   padding: 0 0.5rem 0 0.5rem;
}

.circles .lg {
   font-size: 1rem;
}