.member_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.member {
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.member_name {
	font-weight: 700;
	font-size: 1rem;
}
